<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PS1 - 1</key>
	<dict>
		<key>altName</key>
		<string>In the Dark</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_1</string>
		<key>imageName</key>
		<string>level-in-the-dark.jpg</string>
		<key>positionInMenu</key>
		<integer>1</integer>
		<key>title</key>
		<string>Papa Sangre lvl 1: In the Dark</string>
		<key>unlocked</key>
		<true/>
	</dict>
	<key>PS1 - 2</key>
	<dict>
		<key>altName</key>
		<string>Soul Music</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_2</string>
		<key>imageName</key>
		<string>level-soul-music.jpg</string>
		<key>positionInMenu</key>
		<integer>2</integer>
		<key>title</key>
		<string>Papa Sangre lvl 2: Soul Music</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 3</key>
	<dict>
		<key>altName</key>
		<string>The Kennel</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_3</string>
		<key>imageName</key>
		<string>level-the-kennel.jpg</string>
		<key>positionInMenu</key>
		<integer>3</integer>
		<key>title</key>
		<string>Papa Sangre lvl 3: The Kennel</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 4</key>
	<dict>
		<key>altName</key>
		<string>Bed of Bones</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_4</string>
		<key>imageName</key>
		<string>level-bed-of-bones.jpg</string>
		<key>positionInMenu</key>
		<integer>4</integer>
		<key>title</key>
		<string>Papa Sangre lvl 4: Bed of Bones</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 5</key>
	<dict>
		<key>altName</key>
		<string>Hog Patrol</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_5</string>
		<key>imageName</key>
		<string>level-hog-patrol.jpg</string>
		<key>positionInMenu</key>
		<integer>5</integer>
		<key>title</key>
		<string>Papa Sangre lvl 5: Hog Patrol</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 6</key>
	<dict>
		<key>altName</key>
		<string>Bedtime</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_6</string>
		<key>imageName</key>
		<string>level-bedtime.jpg</string>
		<key>positionInMenu</key>
		<integer>6</integer>
		<key>title</key>
		<string>Papa Sangre lvl 6: Bedtime</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 7</key>
	<dict>
		<key>altName</key>
		<string>The Charnel Pits</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_7</string>
		<key>imageName</key>
		<string>level-charnel-pits.jpg</string>
		<key>positionInMenu</key>
		<integer>7</integer>
		<key>title</key>
		<string>Papa Sangre lvl 7: The Charnel Pits</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 8</key>
	<dict>
		<key>altName</key>
		<string>The Island</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_8</string>
		<key>imageName</key>
		<string>level-the-island.jpg</string>
		<key>positionInMenu</key>
		<integer>8</integer>
		<key>title</key>
		<string>Papa Sangre lvl 8: The Island</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 9</key>
	<dict>
		<key>altName</key>
		<string>Grin Reaper</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_9</string>
		<key>imageName</key>
		<string>level-the-grin-reaper.jpg</string>
		<key>positionInMenu</key>
		<integer>9</integer>
		<key>title</key>
		<string>Papa Sangre lvl 9: Grin Reaper</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 10</key>
	<dict>
		<key>altName</key>
		<string>Homerun</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_10</string>
		<key>imageName</key>
		<string>level-home-run.jpg</string>
		<key>positionInMenu</key>
		<integer>10</integer>
		<key>title</key>
		<string>Papa Sangre lvl 10: Homerun</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 11</key>
	<dict>
		<key>altName</key>
		<string>Quicksand</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_11</string>
		<key>imageName</key>
		<string>level-quicksand.jpg</string>
		<key>positionInMenu</key>
		<integer>11</integer>
		<key>title</key>
		<string>Papa Sangre lvl 11: Quicksand</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 12</key>
	<dict>
		<key>altName</key>
		<string>The River</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_12</string>
		<key>imageName</key>
		<string>level-the-river.jpg</string>
		<key>positionInMenu</key>
		<integer>12</integer>
		<key>title</key>
		<string>Papa Sangre lvl 12: The River</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 13</key>
	<dict>
		<key>altName</key>
		<string>Pathway of Pain</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_13</string>
		<key>imageName</key>
		<string>level-pathway-of-pain.jpg</string>
		<key>positionInMenu</key>
		<integer>13</integer>
		<key>title</key>
		<string>Papa Sangre lvl 13: Pathway of Pain</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 14</key>
	<dict>
		<key>altName</key>
		<string>Chessboard</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_14</string>
		<key>imageName</key>
		<string>level-chess-board.jpg</string>
		<key>positionInMenu</key>
		<integer>14</integer>
		<key>title</key>
		<string>Papa Sangre lvl 14: Chessboard</string>
		<key>New item</key>
		<string></string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 15</key>
	<dict>
		<key>altName</key>
		<string>Feeding Time</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_15</string>
		<key>imageName</key>
		<string>level-feeding-time.jpg</string>
		<key>positionInMenu</key>
		<integer>15</integer>
		<key>title</key>
		<string>Papa Sangre lvl 15: Feeding Time</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 16</key>
	<dict>
		<key>altName</key>
		<string>Xylophone Road</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_16</string>
		<key>imageName</key>
		<string>level-xylophone-road.jpg</string>
		<key>positionInMenu</key>
		<integer>16</integer>
		<key>title</key>
		<string>Papa Sangre lvl 16: Xylophone Road</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 17</key>
	<dict>
		<key>altName</key>
		<string>Papa Sangre Says</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_17</string>
		<key>imageName</key>
		<string>level-papa-sangre-says.jpg</string>
		<key>positionInMenu</key>
		<integer>17</integer>
		<key>title</key>
		<string>Papa Sangre lvl 17: Papa Sangre Says</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 18</key>
	<dict>
		<key>altName</key>
		<string>Little Girl</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_18</string>
		<key>imageName</key>
		<string>level-little-girl.jpg</string>
		<key>positionInMenu</key>
		<integer>18</integer>
		<key>title</key>
		<string>Papa Sangre lvl 18: Little Girl</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 19</key>
	<dict>
		<key>altName</key>
		<string>Frozen Rivers</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_19</string>
		<key>imageName</key>
		<string>level-frozen-rivers.jpg</string>
		<key>positionInMenu</key>
		<integer>19</integer>
		<key>title</key>
		<string>Papa Sangre lvl 19: Frozen Rivers</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 20</key>
	<dict>
		<key>altName</key>
		<string>Zoo</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_20</string>
		<key>imageName</key>
		<string>level-zoo.jpg</string>
		<key>positionInMenu</key>
		<integer>20</integer>
		<key>title</key>
		<string>Papa Sangre lvl 20: Zoo</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 21</key>
	<dict>
		<key>altName</key>
		<string>Glass Cathedral</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_21</string>
		<key>imageName</key>
		<string>level-the-glass-cathedral.jpg</string>
		<key>positionInMenu</key>
		<integer>21</integer>
		<key>title</key>
		<string>Papa Sangre lvl 21: Glass Cathedral</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 22</key>
	<dict>
		<key>altName</key>
		<string>The Blizzard</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_22</string>
		<key>imageName</key>
		<string>level-the-blizzard.jpg</string>
		<key>positionInMenu</key>
		<integer>22</integer>
		<key>title</key>
		<string>Papa Sangre lvl 22: The Blizzard</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 23</key>
	<dict>
		<key>altName</key>
		<string>The Ice Lake</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_23</string>
		<key>imageName</key>
		<string>level-the-ice-lake.jpg</string>
		<key>positionInMenu</key>
		<integer>23</integer>
		<key>title</key>
		<string>Papa Sangre lvl 23: The Ice Lake</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 24</key>
	<dict>
		<key>altName</key>
		<string>The Fate Bell</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_24</string>
		<key>imageName</key>
		<string>level-fate-bell.jpg</string>
		<key>positionInMenu</key>
		<integer>24</integer>
		<key>title</key>
		<string>Papa Sangre lvl 24: The Fate Bell</string>
		<key>unlocked</key>
		<false/>
	</dict>
	<key>PS1 - 25</key>
	<dict>
		<key>altName</key>
		<string>Elysium</string>
		<key>completed</key>
		<false/>
		<key>fileName</key>
		<string>ps1_25</string>
		<key>imageName</key>
		<string>level-elysium.jpg</string>
		<key>positionInMenu</key>
		<integer>25</integer>
		<key>title</key>
		<string>Papa Sangre lvl 25: Elysium</string>
		<key>unlocked</key>
		<false/>
	</dict>
</dict>
</plist>
